<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/login")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <!---strat-wrap---->
    <div class="wrap">

        <div class="top-nav">
            <div class="menu1">
                <ul class="menu2">
                    <li>
                        <a class="nav-icon" href=""></a>
                        <ul>
                            <li>
                                @Html.ActionLink("Αρχη", "Index", "Home", null, new { @class="root-nav1"})
                            </li>
                            <li>
                                @Html.ActionLink("Παιχνίδια", "Index", "Games", null, new { @class = "root-nav2" })
                            </li>
                            <li>
                                @Html.ActionLink("Συνομιλια", "Chat", "Home", null, new { @class = "root-nav3" })
                            </li>
                            <li>
                                @Html.ActionLink("Επικοινωνια", "Contact", "Home", null, new { @class = "root-nav4" })
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-nav_right">
                <div class="menu">
                    <!-- start top-nav-->
                    <div class="cssmenu">
                        <ul>
                            <li>
                                @Html.ActionLink("Αρχη", "Index", "Home")                            
                            </li>

                            <li class="has-sub">
                                @Html.ActionLink("Παιχνίδια", "Index", "Games")

                            </li>

                            <li>
                                @Html.ActionLink("Συνομιλια", "Chat", "Home")
                            </li>

                            <li class="last">
                                @Html.ActionLink("Επικοινωνια", "Contact", "Home")
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- start login_box -->
@*
            @Html.Partial("_LoginPartial", new { ReturnUrl = Request.RawUrl })
*@
            <div class="clear"></div>
        </div>


        @RenderBody()


    </div>
    <!---//End-wrap---->


    @RenderSection("scripts", required: false)






</body>

</html>
