@{
    Page.Title = "Πτυχιούχος 2.0";
}



<div style="position: absolute;z-index: 1;top: 300px">
    <canvas id="myCanvas" width="1000" height="300"></canvas>
        <script>
            var canvas = document.getElementById('myCanvas');
            var context = canvas.getContext('2d');
            context.font = 'italic 100pt Calibri';
            context.fillStyle = '#2c2664';
            context.fillText('Πτυχιούχος 2.0', 100, 100);
            context.fillText('έρχεται...', 100, 250);
        </script>
</div>

<div style="z-index: -1">
    <video  autoplay="autoplay" title="Ptyxiouxos" loop="loop" width="100%" height="auto">
    <source src="../images/banner.webm" type="video/webm" />
    </video>
</div>
    



<div class="grids-slider-grid-row2">
    <a class="tile chat" href="@Href("~/")">
        <div class="title">
            Συνομιλία
        </div>
        <div class="clear"></div>
    </a>

</div>
<div class="grids-slider-grid-row2">
    <a class="tile tangram" href="@Href("~/Games/Tangram/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile edurun" href="@Href("~/Games/Edurun/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile tiletap" href="@Href("~/Games/Tiletap/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile arithmofidaki" href="@Href("~/Games/Arithmofidaki/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile leksidromies" href="@Href("~/Games/Leksidromies/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile mouseio" href="@Href("~/Games/Mouseio/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile symmetria" href="@Href("~/Games/Symmetria/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile kalathi" href="@Href("~/Games/Kalathi/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile asteroid" href="@Href("~/Games/Asteroid/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile fouska" href="@Href("~/Games/Fouska/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile grammatoeisboleis" href="@Href("~/Games/Grammatoeisboleis/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile monopati" href="@Href("~/Games/Monopati/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile dasos" href="@Href("~/Games/Dasos/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile arithmopuzzle" href="@Href("~/Games/Arithmopuzzle/Index")">
    </a>
</div>

<div class="grids-slider-grid-row2">
    <a class="tile bit" href="@Href("~/Games/Bit/Index")">
    </a>
</div>
